
*.bin
parcial1/Libro_Un_Primer_Curso_en_Mecanica_Estadistica-Draf_230820_171251.pdf
taller2/Difusion.m4v
*.mp4
*.gif
*.mov
proyecto/fores_fire_model/ABARES_Forest_Fire_area_2019_20_data_tables_28Apr.xlsx
proyecto/fores_fire_model/BROWSE.MOD14A1.A2023321.h30v11.061.2023331213358.1.jpg
*.nc
*.tif
*.csv
